In [1]:
#Patient ID
id = [i for i in range (1,17)]
id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [3]:
# Patient age
Age = [60,61,74,57,63,68,66,77,63,54,63,76,60,61,65,79]
len(Age)

16

In [5]:
# Patient Weight 
Weights = [58,90,96,72,62,79,69,96,96,54,67,99,74,73,85,80]
len(Weights)

16

In [6]:
# SBP 
SBP = [117,120,145,129,132,130,110,163,136,115,118,132,111,112,0,0]
len(SBP)

16

In [8]:
#import LinearREgression 
from sklearn.linear_model import LinearRegression 
import pandas as pd 

data = {"Age(Years)": Age, "Weight(kg)":Weights,"SBP(mm Hg)":SBP}
#Creatting data from frame 
data = pd.DataFrame(data=data)
data

    Age(Years)  Weight(kg)  SBP(mm Hg)
0           60          58         117
1           61          90         120
2           74          96         145
3           57          72         129
4           63          62         132
5           68          79         130
6           66          69         110
7           77          96         163
8           63          96         136
9           54          54         115
10          63          67         118
11          76          99         132
12          60          74         111
13          61          73         112
14          65          85           0
15          79          80           0

In [13]:
#Tracking x and y values 
x = data[["Age(Years)", "Weight(kg)"]]
y = data["SBP(mm Hg)"]

#Tracking train and test data 
x_train =x[:14]
x_test = x[14:]

y_train = y[:14]
y_test=y[14:]

#Applying LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

# Predicting remaining values 
pred = model.predict(x_test)

#print predicted values 
print(pred)

[129.01956696 142.76293569]

In [ ]:
# App